.button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: $font-family;
  font-size: $font-size-sm;
  font-weight: 600;
  line-height: 1;
  color: $color-tertiary;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  transition-duration: $transition-base;
  transition-property: background-color, border, color;

  &.theme {
    &-primary {
      background-color: $color-accent-primary;

      @include hover {
        background-color: $color-accent-secondary;
      }
    }

    &-secondary {
      background-color: transparent;
      border: 1px solid $color-additional-2;

      @include hover {
        border: 1px solid $color-tertiary;
      }
    }

    &-tertiary {
      background-color: transparent;
      border: 1px dashed $color-additional-2;

      @include hover {
        border: 1px solid $color-tertiary;
      }
    }
  }

  &.type {
    &-plus {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: $color-accent-primary;
      border-radius: 3px;

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 8px;
        content: '';
        background-color: $color-tertiary;
        transform: translate(-50%, -50%);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
}
