.left-column {
  width: 420px;
  padding: 22px 40px;
}

.title {
  margin-bottom: 30px;
}

.main {
  margin-bottom: 30px;
}

.file-browser-wrapper {
  margin-bottom: 30px;
}

.file-browser-head {
  margin-bottom: 15px;
}

.prompts-wrapper {
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
}

.right-column {
  flex-grow: 1;
}
