.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border: none;
  border-radius: 2px;
  outline: none;
}

.size-sm {
  width: 20px;
  height: 20px;
}

.size-md {
  width: 30px;
  height: 30px;
}

.theme-primary {
  background-color: $color-accent-primary;
  transition: background-color 0.3s;

  &:hover {
    background-color: $color-accent-secondary;
  }
}
