.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 78px;
  padding-right: 40px;

  :global {
    .ace-tm .ace_gutter {
      background: $color-primary;
    }

    .ace-monokai .ace_gutter {
      background-color: $color-primary;
    }

    .ace-monokai .ace_selection {
      background-color: #2f3038;
    }

    .ace_editor {
      position: relative;
      background-color: $color-primary;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        pointer-events: none;
        content: '';
        background: linear-gradient(180deg, rgba(28, 29, 34, 0) 0%, #1c1d22 100%);
      }
    }

    .ace_gutter-cell {
      color: $color-additional-3;
    }

    .ace-monokai .ace_marker-layer .ace_active-line {
      background: #232429;
    }

    .ace-monokai .ace_gutter-active-line {
      background-color: #2f3038;
    }
  }
}

.file-path {
  margin-bottom: 5px;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: $color-additional-3;
}

.select {
  align-self: flex-end;
  min-width: 190px;
  margin-top: 30px;
}

.select-current {
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;
  cursor: pointer;
  background-color: $color-primary;
}

.select-options {
  bottom: calc(100% + 20px);
  min-width: 190px;
}
