.folder {
  position: relative;

  &::before {
    position: absolute;
    top: 20px;
    left: 9px;
    width: 1px;
    height: calc(100% - 25px);
    content: '';
    background-color: #2e3038;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $color-additional-1;
    border-radius: 3px;

    & .button-menu {
      display: flex;
    }
  }
}

.folder-title {
  display: flex;
  align-items: center;
}

.icon-folder {
  margin-right: 7px;
}

.button-collapse {
  @include reset-button;

  color: $color-tertiary;

  & span {
    margin-right: 5px;
  }
}

.icon-open {
  transform: rotateX(180deg);
}

.collapsible {
  padding-left: 17px;
  overflow: hidden;

  &-hidden {
    height: 0;
  }
}

.button-menu {
  @include reset-button;

  display: none;
  padding-right: 10px;
  padding-left: 10px;
}

.folder-menu-dropdown {
  position: absolute;
  top: 20px;
  right: -10px;
  z-index: 3;
  width: 100px;

  button {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    background-color: inherit;
    border: none;
    outline: none;
  }
}
