@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $font-weight-md;
  src:
    url('/fonts/inter-v3-latin-500.woff2') format('woff2'),
    url('/fonts/inter-v3-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $font-weight-sm;
  src:
    url('/fonts/inter-v3-latin-regular.woff2') format('woff2'),
    url('/fonts/inter-v3-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $font-weight-xs;
  src:
    url('/fonts/inter-v3-latin-300.woff2') format('woff2'),
    url('/fonts/inter-v3-latin-300.woff') format('woff');
}
