@import './fonts.scss';
@import './reset.css';
@import './mixins.scss';

html,
body {
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size-xs;
  font-weight: $font-weight-sm;
  line-height: $line-height-xs;
  color: $color-white;
  background-color: $color-secondary-black;
}

h1 {
  font-size: $font-size-lg;
  font-weight: $font-size-md;
  line-height: $line-height-lg;
}

h2 {
  font-size: $font-size-md;
  font-weight: $font-size-md;
  line-height: $line-height-md;
}

h1,
h2 {
  &.with-tooltip {
    display: flex;
    justify-content: space-between;
  }
}
