.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
  align-items: center;
  max-width: 1470px;
  height: 100vh;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 1279px) {
    column-gap: 30px;
  }

  @media screen and (max-width: 1023px) {
    grid-template-columns: 1fr;
    row-gap: 60px;
    height: auto;
  }
}

.left {
  text-align: center;
}

.logo {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 1;
}

.description {
  max-width: 590px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.4;
}

.button {
  margin-bottom: 60px;
}

.subtitle {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

.features {
  display: flex;
  margin-bottom: 60px;

  @media screen and (max-width: 575px) {
    display: block;
  }
}

.features-item {
  flex-basis: 0;
  flex-grow: 1;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-right: 30px;
  text-align: left;
  counter-increment: item;
  background-color: $color-secondary-black;
  border: 1px solid $color-middle-grey;
  border-radius: 2px;

  @media screen and (max-width: 575px) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  &::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    content: counter(item);
    border: 1px solid #fde155;
    border-radius: 50%;
  }

  &:last-child {
    margin-right: 0;

    @media screen and (max-width: 575px) {
      margin-bottom: 0;
    }
  }

  span {
    font-size: 16px;
    line-height: 1.4;
  }
}

.video {
  max-width: 535px;

  @media screen and (max-width: 1023px) {
    max-width: 100%;
  }
}

.cases-title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.cases-links {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: 1fr 1fr max-content;
  grid-auto-flow: column;
  row-gap: 10px;
  max-width: 515px;
  line-height: 1.4;

  @media screen and (max-width: 575px) {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }
}

.links-wrapper {
  display: flex;
  justify-content: center;

  li {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}
