.file-browser-head {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.add-button {
  margin-left: 10px;
}

.add-options-inner {
  width: 100px;
}

.group-options {
  margin-left: auto;
}
