.wrapper {
  width: 340px;
  max-height: 397px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: $font-family;
  font-size: $font-size-sm;
  font-weight: 500;
  line-height: $line-height-sm;
  color: $color-tertiary;
  background-color: $color-primary;
  border-radius: 3px;

  &-dragover {
    background-color: $color-secondary;
  }
}
