@import './fonts.scss';

$color-primary: #1c1d22;
$color-secondary: #23242a;
$color-tertiary: #fff;
$color-quaternary: #2e3038;

$color-accent-primary: #73f;

$color-additional-1: #22232a;
$color-additional-2: #393b46;

$font-family: 'Montserrat', -apple-system, helvetica neue, sans-serif;

// Animations
$transition-base: 0.2s;
