.wrapper {
  position: relative;
  height: calc(100% - 35px);
  min-height: 300px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: $font-family;
  font-size: $font-size-xs;
  font-weight: 500;
  line-height: $line-height-xs;
  color: $color-white;
  background-color: $color-primary-black;
  border: 1px solid $color-middle-grey;
  border-radius: 2px;

  &-dragover {
    background-color: rgba(51, 187, 255, 0.05);
    border: 1px dashed $color-link;
  }
}

.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  font-size: $font-size-md;
  font-weight: $font-weight-sm;
  line-height: $line-height-even;
  color: $color-grey;
  transform: translate(-50%, -50%);

  & svg {
    margin-bottom: 25px;
  }
}
