.wrapper {
  padding: 30px;
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: $font-weight-xs;
  line-height: $line-height-even;
}

.description-wrapper {
  display: flex;
  align-items: flex-start;
}

.description {
  margin-right: 40px;
  font-size: 16px;
  font-weight: $font-weight-xs;
  line-height: 1.4;
  color: $color-light-grey;
}

.clone-button {
  flex-shrink: 0;
}

.download-icon {
  fill: none !important;
}

.animation {
  position: relative;
  width: 100%;
  margin-top: 40px;
}

// FOLDER MENU STYLES
.menu {
  position: absolute;
  top: 25%;
  left: 20%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 293px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgba(255, 255, 255, 0.8);
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
  padding-right: 14px;
  padding-bottom: 3px;
  padding-left: 14px;
  margin-bottom: 3px;
  color: black;

  &:last-child {
    margin-bottom: 0;
  }

  &.disabled {
    color: rgba(60, 60, 67, 0.6);
  }

  &.active {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 4px;
    margin-left: 4px;
    color: white;
    background-color: #35f;
    border-radius: 3px;
  }
}

.item-shortcut {
  color: rgba(60, 60, 67, 0.6);
}

.separator {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(60, 60, 67, 0.18);
}

// template select

.template-select {
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
}

.prompt-input {
  position: absolute;
  top: 400px;
  left: 50%;
  z-index: 4;
  transform: translateX(-50%);
}

.select-wrapper {
  width: 591px;
  background-color: #252526;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.select-input {
  display: flex;
  align-items: center;
  height: 29px;
  padding-left: 4px;
  margin-top: 7px;
  margin-right: 6px;
  margin-bottom: 7px;
  margin-left: 6px;
  background: #3c3c3c;
  border: 1px solid #007acc;
}

.select-placeholder {
  color: #ccc;
  opacity: 0.4;
}

.select-text {
  color: #ccc;
}

.select-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 8px;
  margin-top: 7px;
}

.select-option {
  width: 100%;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 7px;
  padding-left: 12px;

  &.active {
    background-color: #062f4a;
  }
}
