.wrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 7px;
  right: 10px;
  color: $color-tertiary;

  &.up {
    transform: rotate(180deg);
  }

  & svg {
    width: 10px;
    height: 6px;
  }
}

.menu {
  position: absolute;
  z-index: 1;
  display: none;
}

.position-top-left {
  top: 100%;
  left: 0;
}

.position-top-right {
  top: 100%;
  right: 0;
}

.position-bottom-right {
  right: 0;
  bottom: 100%;
}

.opened {
  .menu {
    display: block;
  }
}
