.wrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  color: $color-white;
  transform: translateY(-50%);

  &.up {
    transform: translateY(-50%) rotate(180deg);
  }

  svg {
    display: block;
    width: 10px;
    height: 6px;
  }
}

.menu {
  position: absolute;
  z-index: 9;
  display: none;
  white-space: nowrap;
}

.position-top-left {
  bottom: -10px;
  left: 0;
  transform: translateY(100%);
}

.position-top-right {
  right: 0;
  bottom: -10px;
  transform: translateY(100%);
}

.position-bottom-right {
  top: -10px;
  right: 0;
  transform: translateY(-100%);
}

.position-bottom-left {
  top: -10px;
  left: 0;
  transform: translateY(-100%);
}

.opened {
  .menu {
    display: block;
  }
}
