.wrapper {
  position: fixed;
  width: 240px;
  height: 100%;
  overflow: auto;
  background-color: $color-primary;
}

.user-wrapper {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 14px;
  border-bottom: 1px solid $color-additional-1;
}

.user-info {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.avatar {
  margin-right: 10px;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  line-height: inherit;
  color: $color-tertiary;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: $color-accent-primary;
  border-radius: 5px;
}

.templates {
  padding-top: 30px;
  padding-bottom: 30px;

  h2 {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
  }
}
