.wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  overflow: auto;
  background-color: $color-secondary-black;
  border-right: 1px solid $color-dark-grey;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1;
}

.templates {
  margin-bottom: 40px;
}

.templates-title {
  margin-bottom: 10px;
  font-weight: 500;
  color: $color-grey;
}

.footer {
  margin-top: auto;
}

.footer-item {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    margin-left: 10px;
  }
}
