.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 55px;
  padding-right: 30px;
  padding-bottom: 55px;
  padding-left: 30px;
}

.header {
  margin-bottom: 45px;
}

.title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: $font-weight-xs;
  line-height: $line-height-even;
}

.description {
  max-width: 550px;
  font-size: 16px;
  font-weight: $font-weight-xs;
  line-height: 1.4;
  color: $color-light-grey;
}

.image-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}
