.wrapper {
  overflow: auto;
  background: rgba(28, 29, 34, 0.9);
  inset: 0 0 0 0;
  backdrop-filter: blur(10px);
}

.open {
  position: fixed;
  z-index: 10;
}

.content {
  position: relative;
  z-index: 11;
  width: 600px;
  background: $color-secondary-black;
  border-radius: 5px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  font-size: $font-size-lg;
  font-weight: 300;
  line-height: $line-height-lg;
  text-align: center;
  transform: translateY(-100%);
}

.body {
  padding: 30px;
}

.close {
  position: absolute;
  top: -10px;
  right: -32px;
  padding: 10px;
  cursor: pointer;

  svg {
    path {
      stroke: $color-grey;
    }
  }

  &:hover {
    svg {
      path {
        stroke: $color-white;
      }
    }
  }
}
