.wrapper {
  display: block;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  color: $color-grey;
}

.input-wrapper {
  position: relative;
}

.input {
  width: 100%;
  height: 40px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: $font-size-sm;
  font-weight: $font-weight-md;
  font-weight: 400;
  line-height: $line-height-sm;
  color: $color-white;
  background: $color-primary-black;
  border: 1px solid $color-middle-grey;
  border-radius: 2px;
  transition: border-color $transition-base;

  &:focus {
    border-color: $color-link;
    box-shadow: 0 0 5px rgba(51, 187, 255, 0.75);
  }

  &.invalid {
    border-color: $color-red;
  }
}

.error {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  font-size: 11px;
  color: $color-red;
  transform: translateY(100%);
}
