.top {
  display: flex;
}

.send-button {
  align-self: flex-start;
  width: 113px;
  margin-left: 15px;
}

.users {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

.user {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;

  &:hover {
    .unshare {
      display: flex;
    }

    .status {
      display: none;
    }
  }
}

.name {
  margin-right: auto;
  margin-left: 10px;
}

.status {
  display: flex;
}

.unshare {
  @include reset-button;

  display: none;
  align-items: center;
  margin-right: 5px;
  font-family: $font-family;
  font-size: $font-size-sm;
  font-weight: 500;
  line-height: $line-height-sm;
  color: $color-tertiary;
}
