.wrapper {
  position: relative;
  min-height: 220px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
  background-color: $color-secondary-black;
  border: 1px solid $color-middle-grey;
  border-radius: 2px;
}

.text {
  margin-bottom: 20px;
  font-size: $font-size-lg;
  line-height: 1.4;
}

.image-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
}

.github-button {
  position: relative;
  z-index: 1;
}
