.group {
  display: block;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: $font-size-xs;
  font-weight: 500;
  line-height: $line-height-xs;
  color: $color-grey;
}

.input {
  width: 100%;
  padding: 8px 15px;
  font-size: $font-size-sm;
  font-weight: $font-weight-lg;
  line-height: $line-height-sm;
  color: $color-white;
  background: $color-primary-black;
  border: 1px solid $color-middle-grey;

  &:focus {
    border-color: $color-accent-tertiary;
  }
}

.error {
  margin-top: 5px;
}
