.folder {
  position: relative;

  &-dragover {
    background-color: $color-secondary;
  }
}

.folder-line {
  position: absolute;
  top: 20px;
  width: 1px;
  height: calc(100% - 25px);
  background-color: #2e3038;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.3s;

  &:hover {
    background-color: $color-additional-1;
    border-radius: 3px;

    .options {
      visibility: visible;
    }
  }
}

.folder-title {
  display: flex;
  align-items: center;
}

.folder-name {
  font-family: $font-family;
  font-size: $font-size-sm;
  font-weight: 500;
  line-height: $line-height-sm;
  color: $color-tertiary;
}

.icon-folder {
  margin-right: 7px;
}

.button-collapse {
  @include reset-button;

  color: $color-tertiary;

  & span {
    margin-right: 5px;
  }
}

.icon-open {
  transform: rotateX(180deg);
}

.collapsible {
  overflow: hidden;

  &-hidden {
    height: 0;
  }
}

.options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 12px;
  margin-left: auto;
  visibility: hidden;
}

.options-inner {
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 7px;
  padding-left: 10px;

  &:hover {
    circle {
      fill: $color-tertiary;
    }
  }
}

.options-icon {
  width: 12px;
}

.options-menu {
  min-width: 100px;
}
