.wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  visibility: hidden;
  background-color: #2e3038;
  border-radius: 3px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: $transition-base;
  transform: translateY(10px);

  &.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
