.group-wrapper {
  display: flex;
  align-items: center;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: -10px;
  margin-left: -10px;
  cursor: pointer;
  user-select: none;

  &:hover {
    .options {
      visibility: visible;
    }
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  color: $color-grey;
}

.icon.expanded {
  transform: rotate(90deg);
}

.options {
  display: flex;
  align-items: center;
  height: 12px;
  margin-left: auto;
  visibility: hidden;
}

.options-inner {
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 7px;
  padding-left: 10px;
  margin-right: -10px;

  &:hover {
    circle {
      fill: $color-white;
    }
  }
}

.name {
  max-width: 140px;
  margin-right: 5px;
  overflow: hidden;
  font-size: $font-size-md;
  font-weight: $font-weight-lg;
  line-height: $line-height-md;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.templates {
  display: none;
}

.expanded {
  &:last-child {
    .templates {
      margin-bottom: 0;
    }
  }

  .templates {
    display: block;
    margin-bottom: 10px;
  }
}
